body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to right, darkslategray , darkslategray);
  
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,label,span {
  color: darkslategray;
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  background-color: darkslategray;
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-image: linear-gradient(to right, white , yellow);
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  margin-bottom: 100px;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: rgb(79,113,62);
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}



.auth-inner1 {
  width: 60%;
  margin: 400;
  background: white;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all .3s;
}

.auth-wrapper1 .form-control:focus {
  border-color: rgb(79,113,62);
  box-shadow: none;
}

.auth-wrapper1 h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}



.auth-inner2 {
  width: 60%;
  margin: 400;
  background: white;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: all .3s;
}

.auth-wrapper2 .form-control:focus {
  border-color: rgb(79,113,62);
  box-shadow: none;
}

.auth-wrapper2 h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}






.custom-control-label {
  font-weight: 600;
}






.custom-control-label {
  font-weight: 600;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: rgb(79,113,62);
}

.error-login {
  color: rgba(255, 0, 0, 0.534);
}

.container1 {
  display: flex;
  flex-direction: row;
  width:60%;
  background-color: rgba(34, 35, 58, 0.2);
}

.container1:hover {
  font-size: large;
}

h1 {
  background-image: linear-gradient(to right, rgba(34, 35, 58, 0.2), white , rgba(34, 35, 58, 0.2));
  text-align: center;
}

.title {
  background-image: linear-gradient(to right, rgba(34, 35, 58, 0.2), white , rgba(34, 35, 58, 0.2));
  text-align: center;
}

.fa-ellipsis-h {
  position: relative;
  top: 20px;
  left: 440px;
  cursor: pointer;
}

.inline-label {
  display: inline-block;
  width: 70px;
  text-align: right;
}

#watering {
  width: 50px;
  padding: 0;
  margin: 0;
  display: inline-block;
}